*{
    box-sizing: border-box;
}

#midPicdiv{
    left: 30%;
    top: 10%;
    right: 30%;
    background-color: white;
    opacity: 1;
    width: 40%;
    height: 70%;
    position: absolute;
    border-style: solid;
    border-color: royalblue;;
    border-radius: 20px;
    overflow: hidden;
}

/*
///////////////////////////
*/

#midPicdiv img{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 8;
}

#midPicdiv .pic.active{
    z-index: 10;
}

#midPicdiv .pic.nextActive{
    z-index: 9;
}

/*
///////////////////////////
*/

/*
=======-- Red Box --=======
*/
.redbox{
    width: 5%;
    height:5%;
    top:20%;
    left: 35%;
    position: absolute;
    background-color: lightpink;
    opacity: 0;
    z-index: 11;
    box-shadow: 0px 0px 10px 10px red inset;
}

/*
=======-- End of Red Box --=======
*/
#leftClickdiv{
    position: absolute;
    width: 5%;
    height: 7%;
    top:45%;
    left:20%;
}

#rightClickdiv{
    position: absolute;
    width: 5%;
    height: 7%;
    top:45%;
    right:20%;
}

#leftPic{
    width: 100%;
    height: 100%;
}

#rightPic{
    width: 100%;
    height: 100%;
}

button{
    width: 100%;
    height: 100%;
}


/*
bot nav bar
*/

#botNav{
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 12;
    background-color: darkturquoise;
    display: inline-block;
    overflow: hidden;
    border-radius: 20px;
    border-style: dotted;
    border-width: 1px;
    bottom: 10px;;
}

.navDiv{
    width: 10%;
    height: 90%;
    left: 50px;
    margin-right: 20px;
    position: relative;
    float: left;
    background-color: #333333;
    border: 2px solid black;
    border-radius: 20px;
    overflow: hidden;
    line-height: 30%;
}

.navButton{
    width: 100%;
    height:100%;
    position: absolute;
}

#scrollPx{
    float: right;
}

/*
bot nav bar
*/

#main{
    width: 100%;
    height: 650px;
    background-color: rgba(255,100,0,1);
    z-index: 2;
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
}

.main2 {
    width: 100%;
    height: 650px;
    background-color: rgba(255, 100, 0, 1);
    z-index: 2;
    margin-top: 50px;
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    position: relative;
}
